pandas
numpy
matplotlib
seaborn
scikit-learn
spacy
nltk
sentence-transformers
chromadb
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-huggingface
langchain-chroma
transformers
torch
fastapi
uvicorn
streamlit
python-dotenv
tqdm
jupyter
kagglehub
google-generativeai
google-genai
python-dotenv
pyarrow
xgboost
pydantic
joblib
requests
loguru
httpx
pytest
python-multipart
pydantic-settings