pandas
numpy
matplotlib
seaborn
scikit-learn
spacy
nltk
sentence-transformers
chromadb
langchain
langchain-community
langchain-huggingface
transformers
torch
fastapi
uvicorn
streamlit
python-dotenv
tqdm
jupyter
kagglehub
google-generativeai
python-dotenv

